.heading {
  color: #006098;
}

.table thead tr th {
  color: gray;
}

.back-btn {
  border: 5px #006098;
}

.login-icon {
  height: 25px;
  width: 25px;
  background: transparent;
  margin-left: -34px;
  margin-top: 5px;
}

.create-btn {
  background-color: #006098;
  color: white;
  padding: 2px;
}

.border-btn {
  border: 2px solid #006098;
  background-color: white;
  color: #006098;
  border-radius: 6px;
  padding: 7px;
}

.border-btn:hover {
  border: 2px solid #006098;
  background-color: #006098;
  color: white;
}

.input-file::-webkit-file-upload-button {
  display: none;
}

.upload-container {
  border: 2px gray dotted;
  display: flex;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
}

/* new */
.form {
  min-height: 100px;
  overflow: hidden;
  background-color: #f8f9fb;
  padding: 28px;
  box-shadow: -2px 4px 11px 4px #dadada;
  margin: 28px;
}
.btn-primary {
  background: #006ab0 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 0px;
}
.float {
  margin-left: 10px;
}

.user-container {
  position: absolute;
  transform: translateX(-50%);
  left: 15%;
  top: 60%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.twoc {
  height: 58px;
}

.disab {
  border: 1px dashed #adadad;
  background-color: white;
}

.alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
